.website_blog {
    li, li p {
        margin-bottom: 0px !important;
    }
    section p:last-child {
        margin-bottom: 0px !important;
    }
    .o_record_cover_component {
        background-size: contain !important;
    }
}